.page-title {
    color: white;
}

.input{
    width: 75%;
}

.list-item {
    width: 100%;
    min-height: 5em;
    max-height: fit-content;
    border-radius: 10px;   
    margin-bottom: 1em; 
    display: flex;
}

ol, ul {
	list-style: none;
}

h1, ul, p {
    margin: 0;
	padding: 0;
	border: 0;	
}

.list-items--p {
    font-size: 1.2rem;
    color: #191919;
}

.list-items--p2 {
    color: #6E6E6E;
}

.fa {
    color: grey;
}

@media screen and (max-width: 767px) {
    .list-item {
        flex-wrap: wrap;
    }
    
    .input {
        width: 100%;
    }    
}