body {
    background-color: #1E1E1E;
}

.page-title {
    color: white;
}

.search-box {
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: 700px;
}

.input{
    width: 100%;
}

.form-switch {
    padding-left: 3.5em;
    padding-top: 0.5em;
}

.error-message {
    display: none;
}

.error-message--active {
    display: block; 
    color: red;
    
    padding-left: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;    
}

.list-item {
    background-color: #DEDEDE;
    padding: 2rem;
    width: calc(33% - 1em);    
    border-radius: 10px;   
    margin-bottom: 1em; 
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol, ul {
	list-style: none;
}

div, h1, ul, p {
    margin: 0;
	padding: 0;
	border: 0;	
}

.list-items--p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #191919;
}

.list-items--p2 {
    color: #6E6E6E;
}

.list-items--p3 {
    color: red;
    font-size: .75em;
    max-width: 180px;
}

.list-items--p4 {
    font-size: 1.15rem;
}

.fa {
    color: grey;
}

@media screen and (max-width: 767px) {
    .list-item {
        width: calc(50% - 1em);
        flex-wrap: wrap;
    }
    
    .input {
        width: 100%;
    }    
}

@media screen and (max-width: 420px) {
    .list-item {
        width: 100%;
    }
}